header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0); /* Inicialmente transparente */
    backdrop-filter: blur(10px); /* Efeito de desfoque */
    transition: background-color 0.3s ease, backdrop-filter 0.3s ease;
    z-index: 1000; /* Garante que o header fique sobre outros elementos */
}

.logo {
    text-decoration: none;
    font-size: 30px;
    cursor: pointer;
    color: #fff;
    font-weight: bold;
}

.favoritos {
    text-decoration: none;
    cursor: pointer;
    background-color: #fff;
    padding: 5px 14px;
    color: #000;
    border-radius: 4px;
}

.meus-filmes {
    padding-top: 80px; /* Adiciona um padding para que o conteúdo não fique atrás do header */
}
