header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #121212;
    color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header a {
    color: #fff;
    text-decoration: none;
    font-size: medium;
    padding: 1cap;
    transition: 0.2s;
}

header a:hover {
    color: #f1c40f;
}